[Unit]
Description=Jenkins Docker
After=docker.service

[Service]
User=${instance_user}
Group=${instance_user}
type=simple
ExecStart=/home/${instance_user}/jenkins.sh

[Install]
WantedBy=multi-user.target